* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #364558;
  font-size: 16px;
  height: 100%;
}

.logo {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  width: 20%;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

.logo a:hover {
  color: #021625;
  font-size: 25px;
}

.logo p {
  margin: 10px;
}

.service-name {
  text-align: center;
  float: left;
  width: 70%;
}

.service-name h1 {
  margin-bottom: 10px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

li a {
  float: left;
  text-align: center;
  padding: 10px 16px;
}

nav a:hover {
  background-color: #021625;
}

header {
  /* Safari */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #364558;
  display: flow-root;
  z-index: 3;
}

#car {
  max-width: 100%;
  height: auto;
}

.our-mission {
  max-width: 50%;
  margin: 20px auto;
}

.benefits {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.benefits h2 {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.benefits-text {
  width: 33%;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 30px;
}

footer:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: #fff;
}

.footer {
  font-size: 10px;
  margin: 10px;
  float: right;
}

.footer a:hover {
  color: #021625;
  font-size: 12px;
}

.about {
  max-width: 60%;
  margin: 50px auto;
}

.about img {
  display: block;
  margin: 10px auto;
  max-width: 60%;
  height: auto;
}

#car-choice {
  margin-bottom: 50px;
}

.car-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.short-description {
  margin: 20px auto;
}

.car-photo {
  width: 250px;
  height: auto;
}

.description-table {
  float: right;
  margin: 0 10px 10px 10px;
}

.description-table caption,
.table-info caption {
  text-align: left;
  font-size: 130%;
  margin-bottom: 10px;
}

.description-table td:nth-child(even),
.table-info td:nth-child(even) {
  text-align: right;
}

.button-position {
  display: flex;
  flex-direction: column;
  float: right;
}

.description-link {
  text-align: center;
  background-color: #021625;
  margin: 12px;
  padding: 10px;
}

.description-link:hover {
  background-color: #2c394a;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px 40px;
}

.car-slide {
  display: none;
  max-width: 500px;
  height: auto;
}

/* Slideshow container */
.slideshow {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -45px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

.car-info,
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.table-info {
  width: 300px;
  margin: 10px;
}

.second-table {
  padding-top: 35px;
}

.price {
  grid-area: 2 / 1 / 2 / 3;
}

.limit {
  grid-area: 3 / 1 / 3 / 3;
  max-width: 80%;
  margin-bottom: 20px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.main {
  flex: 1 1 auto;
}

/*footer at the bottom of the page*/
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.car-list {
  max-width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
}

.car-list a:hover {
  color: #000;
  font-size: 130%;
}

.table-name {
  text-align: center;
}

.car-list th,
.car-list td {
  padding: 15px;
}

.car-list tr:nth-child(even) {
  background-color: #2c394a;
}

.header-item {
  width: 36%;
}

.header-column {
  width: 16%;
}

.car-list th {
  background-color: #021625;
}

.conditions {
  max-width: 60%;
  margin: 30px auto;
}

.service {
  max-width: 40%;
  margin: 30px auto;
}

.conditions h3,
.service h3 {
  text-align: center;
  margin: 10px;
}

.conditions li,
.service li {
  padding-bottom: 5px;
}

.contacts a:hover {
  color: #021625;
  font-size: 18px;
}

.contacts a {
  padding: 0;
}

.main h2 {
  text-align: center;
  margin: 30px;
}

.contacts-location {
  width: 80%;
  margin: 20px auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts,
.details {
  width: 40%;
  padding: 10px;
  margin-bottom: 30px;
}

.contacts-location h3 {
  margin-left: 40px;
  margin-bottom: 10px;
}

form {
  text-align: center;
}

.car-booking label,
.date-begin label,
.date-end label,
.delivery-time label,
.delivery-adress label,
.name label,
.phone label,
.submit {
  display: block;
}

.car-booking select {
  width: 30%;
  box-sizing: border-box;
  border: none;
  background-color: #2c394a;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 10px;
  font-family: inherit;
  text-align: center;
  margin-bottom: 10px;
}

.car-booking option {
  margin: 10px;
}

.date-row {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-begin input,
.date-end input,
.delivery-time input,
.delivery-adress input,
.name input,
.phone input {
  background: #2c394a;
  color: #808080;
  font-family: inherit;
  text-align: center;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #fff;
}

.date-begin input,
.date-end input,
.delivery-time input {
  margin-bottom: 10px;
}

.delivery-time input {
  width: 10%;
}

.delivery-adress input,
.name input,
.phone input {
  text-align: left;
  width: 30%;
  margin-bottom: 10px;
}

input[type=submit] {
  background-color: #021625;
  color: #fff;
  padding: 10px 16px;
  width: 30%;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

input[type=submit]:hover {
  background-color: #2c394a;
}

/* For mobile phones: */
@media only screen and (max-width:600px) {

  .logo,
  .service-name,
  .our-mission {
    width: 90%;
  }

  header {
    position: static;
  }

  .service-name {
    margin-left: 20px;
  }

  .menu li a {
    text-align: center;
    background-color: #021625;
    margin: 10px;
    margin-left: 25px;
    padding: 10px;
    width: 80%;
    display: block;
  }

  .menu li a:hover {
    background-color: #2c394a;
    text-align: center;
  }

  .car-gallery,
  .car-photo,
  .short-description,
  .description-table,
  .description-link {
    width: 300px;
    margin: auto;
    text-align: center;
  }

  .description-table td:nth-child(odd) {
    text-align: left;
  }

  .description-link {
    margin-bottom: 50px;
  }

  .car-slide {
    max-width: 400px;
  }

  .service,
  .conditions,
  .about,
  .about img {
    max-width: 80%;
  }

  .contacts-location {
    display: inline;
  }

  .contacts,
  .details {
    margin-left: 20px;
  }

  .date-row {
    display: inline;
  }

  .contacts,
  .details,
  .date-begin input,
  .date-end input,
  .car-booking select,
  .delivery-adress input,
  .delivery-time input,
  .name input,
  .phone input,
  input[type=submit] {
    padding: 10px;
    width: 80%;
  }
}