* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: white;
  background-color: #364558;
  font-size: 16px;
  margin: 0;
}

.logo {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  width: 20%;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

.logo a:hover,
.contacts a:hover {
  color: #021625;
}

.logo p {
  margin: 10px;
}

.service-name {
  text-align: center;
  float: left;
  width: 70%;
}

.service-name h1 {
  margin-bottom: 10px;
  margin-top: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

li a {
  float: left;
  text-align: center;
  padding: 10px 16px;
}

nav a:hover {
  background-color: #021625;
}

nav ul {
  padding-left: 20px;
  margin-top: 0;
}

header {
  /* Safari */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #364558;
  display:flow-root;
}

#car {
  max-width: 100%;
  height: auto;
}

.our-mission {
  max-width: 50%;
  margin: 20px auto;
}

.benefits {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.benefits h2 {
  width: 100%;
  margin-bottom: 30px;
}

.benefits-text {
  width: 33%;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 30px;
}

footer:before {
  content: "";
  display: block;
  width: 100%;
  height:0.5px;
  background-color: white;
}

/*footer {
  position: relative;
  bottom: 0;
  right: 0;
}*/

.contacts {
  font-size: 10px;
  margin: 10px;
  float: right;
}

/* For mobile phones: */
@media only screen and (max-width: 700px) {
  .logo,
  .service-name,
  .our-mission {
    width: 100%;
  }

  header {
    position: static;
  }
}

.about {
  max-width: 60%;
  margin: 50px auto;
}

.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  height: auto;

}