@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: white;
  background-color: #5485ad;
}























/*
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: white;
  background-color: #5485ad;
}

div, .account, h1, table, a:link, a:visited, a:active {
  color: white;
  margin: 0;
}

#logo {
  width: 150px;
  height: 150px;
  float: left;
  margin-left: 10px;
}

h1 {
  padding: 33px;
  text-align: center;
}

.account {
  float: right;
}

.account a:link, a:visited, a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5485ad;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .account:hover {
  background-color: #256497;
}

.advantage {
  font-size: 20px;
  display: table;
  margin:  auto;
}

.advantage li {
  text-align: center;
  margin: 10px 50px;
  padding: 20px;
  background-color: #256497;
}

@media screen and (max-width: 620px) {
  /* For mobile phones: */
  /* .advantage li, h1 {
    max-width: 100%;
    margin: 10px;
    padding: 20px;
    position: relative;
  }
}

.footer {
  text-align: right;
  font-size: 12px;
  padding: 15px;
}

.footer a:hover {
  color: red;
}

.contact {
  float: right;
  text-decoration: none;
  padding: 20px;
}

#car {
  max-width: 100%;
  height: auto;
}
*/